.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.chartPage {
  margin-left: 10px;
}
.bar_chart {
  float: left;
  width: 400px;
  height: 200px;
  margin-left: 50px;
  box-shadow: 5px 5px #888888;
}
.safetyScoreDisplay {
  font-weight: bold;
  font-size: 25px;
}
.ScoreDisplay {
  font-weight: bold;
  font-size: 25px;
  color: blue;
}
.pieChart {
  margin-top: 20px;
}
.barChart {
  margin-bottom: 20px;
}
